<!doctype html>
<html>
    <head>
        {% if title %}
        <title>{{ title }} - Resume Scorer</title>
        {% else %}
        <title>Resume Scorer</title>
        {% endif %}
        
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,400;0,9..40,500;1,9..40,400&family=DM+Mono:wght@400;500&family=Instrument+Serif:ital@0;1&family=Press+Start+2P&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <!-- NAV -->
        <nav class="nav">
            <div class="nav-inner">
            <a href="/" class="logo">
                <div class="logo-img">
                <svg width="11" height="11" viewBox="0 0 11 11" fill="none">
                    <path d="M10.0833 3.20833L6.1875 7.10417L3.89583 4.8125L0.916666 7.79167" stroke="#000" stroke-width="0.917" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M7.33333 3.20833H10.0833V5.95833" stroke="#000" stroke-width="0.917" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                </div>
                <span class="logo-text">Scored</span>
            </a>
            <ul class="nav-links">
                <li><a href="#">How it works</a></li>
                <li><a href="#">Breakdown</a></li>
                <li><a href="#">Reviews</a></li>
            </ul>
            <button class="btn-nav">Score resume ↗</button>
            </div>
        </nav>
        
        {% block content %}{% endblock %}
    </body>
</html>